body {
    background-image: url("okumono_mahjonggara10-1536x864.png");
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: mediumseagreen;
}
a:hover{
    background-color: skyblue;
}
.in{
    background-image: url("1000_F_250581056_raqfzBA3hTHLTywXLbmqmkXhklf1WGSD.jpg");
    display: inline-block;
}
.auto{
    text-align: center;
    
}