@charset "UTF-8";

h1 {
    text-align: center;
}

.border {
    border: 1px solid #000;
    border-radius: 8px;
    margin: 16px auto;
    padding-left: 0;;
	list-style: none;
	display: inline-block;
    padding: 10px 100px;
}

.content {
    text-align: center;
    align-items: center;
}

textarea{
    resize: none;
    width:300px;
    height:200px;
}

.toukou{
    margin-bottom: 200px;
}

.content{
    display: flex;
}

.back{
    text-align: center;
}

body {
    background-image: url("okumono_mahjonggara10-1536x864.png");
}

a {
    text-decoration: none;
    color: mediumseagreen;
 }
 .btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #cbe585;/*囲う線*/
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    background-color: #9ec34b;
  }
  
  .btn-border:hover {
    background-color: #5e33b3;
    border-color: #3c5b7a;
    color: #FFF;
  }
 .container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 20px;
  }                 
a:hover {
    background-color: skyblue;
}
body {
    background-image: url("okumono_mahjonggara10-1536x864.png");
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: mediumseagreen;
}
a:hover{
    background-color: skyblue;
}
.in{
    border: 1px solid #000;
    border-radius: 8px;
    margin: 16px auto;
    padding-left: 0;;
	list-style: none;
	display: inline-block;
    padding: 10px 100px;
    background-color: white;
}
.auto{
    text-align: center;
    
}
.sub{
    box-shadow: 0px 0px 3px mediumseagreen;
}
.btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #cbe585;/*囲う線*/
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    background-color: #9ec34b;
  }
  
  .btn-border:hover {
    background-color: #5e33b3;
    border-color: #3c5b7a;
    color: #FFF;
  }
.container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 40px;
  }
  h2 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    background-image: url("okumono_mahjonggara10-1536x864.png");
}
h1 {
    text-align: center;
}

.border {
    border: 1px solid #000;
    border-radius: 8px;
    margin: 16px auto;
    padding-left: 0;;
	list-style: none;
	display: inline-block;
    padding: 10px 100px;
}

.content {
    text-align: center;
    align-items: center;
}

textarea{
    resize: none;
    width:300px;
    height:200px;
}

.toukou{
    margin-bottom: 200px;
}

.content{
    display: flex;
}

.back{
    text-align: center;
}

body {
    background-image: url("okumono_mahjonggara10-1536x864.png");
}

a {
    text-decoration: none;
    color: mediumseagreen;
 }
 .btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #cbe585;/*囲う線*/
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    background-color: #9ec34b;
  }
  
  .btn-border:hover {
    background-color: #5e33b3;
    border-color: #3c5b7a;
    color: #FFF;
  }
 .container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 20px;
  }                 
a:hover {
    background-color: skyblue;
}
body {
    background-image: url("okumono_mahjonggara10-1536x864.png");
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: blue;
}

h3 {
    text-align: center;    
}

h4 {
    margin-top: 11px;
    margin-right: 8px;
}

form {
    text-align: center;
}

p{
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
}

.wrap {
    padding: 0px 15px 10px 15px;
    text-wrap: balance;
}

.border {
    text-align: center;
    color: black;
}

.content {
    border: 1px solid #000;
    border-radius: 8px;
    margin: 16px auto;
    list-style: none;
    padding: 10px 100px;
    background-color: white;
}

.home {
    margin-right: 5%;
    margin-left: 5%;
}
.head{
    color: blue;/*文字の色*/
    display: flex;/*掲示板とaタグを横並びにする*/
    justify-content: center;/*掲示板とaタグの間をあけるやつ*/
}
.li{
    list-style: none;/*・をなくす*/
    padding-left: 15px;/*ホームページとクイズの間*/
}
.ul{
    display: flex;
}
.aa{
    text-decoration: none;
}
.gg{
    align-items: center;
    margin: auto/*上下*/ 0px/*縦*/;
}
.flex {
    display: flex;
    justify-content: center;
}

.likeButton {
    color: #888;
    font-size: 10px;
    background-color: transparent;
    border: 0.1em solid;
    border-radius: 1em;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    }
    .likeButton__icon {
    display: inline-block;
    fill: currentColor;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
    }

    .likeButton {
        color: #888;
        font-size: 10px;
        background-color: transparent;
        border: 0.1em solid;
        border-radius: 1em;
        padding: 0.333em 1em 0.25em;
        line-height: 1.2em;
        box-shadow: 0 0.25em 1em -0.25em;
        cursor: pointer;
        transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
        outline: 0;
        }
        .likeButton__icon {
        display: inline-block;
        fill: currentColor;
        width: 0.8em;
        height: 0.8em;
        margin-right: 0.2em;
        }
        .likeButton:hover {
        color: #e5348c;
        }
        .likeButton.liked {
        color: #ffffff;
        background-color: #e5348c;
        border-color: #e5348c;
        }
        
@media screen and (max-width: 600px){
    p {
        font-size:larger;
    }

    .wrap {
        text-wrap: balance;
        font-size:larger;
    }

    .content {
        border: 1px solid #000;
        border-radius: 8px;
        margin: 16px auto;
        list-style: none;
    }
}
@media screen and (max-width:600px) {
    h1 {
        font-size:larger;
    }
}