h2{
   text-align:center;
}
p{
    text-align:center;
}
div{
    text-align:center;
    border:solid 2px;
    width:auto;
}
@media screen and (max-width: 600px){
    div{
        text-align:left;
    }
}
