body{
    background-image: url("okumono_mahjonggara10-1536x864.png");
}
h6{
    text-align: center;
    color: red;
}
div{
    text-align: center;
}
h2{
    text-align: center;
}
div a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 600px){
    div{
        text-align: center;
    }
    h2{
        text-align: center;
    }

}