body{
    background-image: url("okumono_mahjonggara10-1536x864.png");
    text-align: center;
}
a {
    text-decoration: none;
    color: mediumseagreen;
}.sa{
    display: flex;
}
.ys{
    margin-left: 30%;
}
.nz{
    margin-left: 9%;
}
.ct{
    margin-left: 9%;
}
/*ボタン*/
.btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #cbe585;/*囲う線*/
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    background-color: #9ec34b;
} 
.btn-border:hover {
    background-color: #5e33b3;
    border-color: #3c5b7a;
    color: #FFF;
}
.container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}                 
a:hover {
    background-color: skyblue;
}
